body{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif !important;
}
input, button, textarea {
    font-family: 'Lato', sans-serif !important;
    /* font-size: 18px; */
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
section{
    width: 1200px;
    margin: 0 auto;
}
header{
    background: rgb(2,144,123);
    background: linear-gradient(90deg, rgba(2,144,123,1) 0%, rgba(36,196,124,1) 100%);
    background-size: cover; 
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
footer{
    float: left;
    width: 100%;
    background: #333333;
    border-top: 10px solid #FBB040;
    margin-top: 30px;
}
table{
    width: 100%;
    line-height: 36px;
}
.clear{
    clear: both;
}
.header-poss{
    padding: 20px 0;
    width: 1200px;
    margin: 0 auto;
    height: 60px;
    /* border-bottom: 1px solid #fff;  */
}
.banner-jdih{
    width: 1200px;
    margin: 0 auto;
}
.banner-jdih img{
    border-radius: 4px;
}
.logo-top{
    width: 20%;
    float: left;
}
.logo-top img{
    float: left;
    width: 20%;
    /* padding: 10px;
    background: #fff; */
    /* border-radius: 4px; */
}

.logo-top a{
    width:70%;
    float: left;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
.logo-top p{
    float: left;
    /* width: 60%; */
    padding-top: 8px;
    padding-left: 10px;
    font-weight: bold;
    color: #222;
}
nav{
    width: 80%;
    float: left;
    display: block;
}
.nav-mobile{
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    float: right;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
    margin: 7px 5px 0;
    /* background: #fff; */
    border-radius: 4px;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: #fff;
    border-radius: 4px;
    color: #222;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 5px !important;
    border-radius: 4px;
    padding: 0 !important;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
    margin: 0;
    font-weight: normal;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .dropdown-content a:hover {
      background-color: #fff;
      border-radius: 0;
      color: #000;
      font-weight: bold;
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .search-header{
      width: 1200px;
      margin: 0 auto; 
  }
  .h4-search-header{
      font-size: 36px;
      color: #fff;
      letter-spacing: 0px;
      padding: 20px 0 10px 0;
  }
  .form-searh-header{
      float: left;
      width: 100%;
  }
  .form-searh-header input{
      float: left;
      width: 73%;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      font-size: 24px;
      outline: none;
      font-weight: bold
  }
  .form-searh-header button{
      float: left;
      font-weight: bold;
      width: 23%;
      margin-left: 1%;
      border: none;
      background: #FBB040;
      color: #fff;
      padding: 13px 0px;
      font-size: 20px;
      border-radius: 4px;
      transition: 0.3s;
      cursor: pointer;
  }
  .form-searh-header button:hover{
      background: #ffa31a;
  } 
  .form-searh-berita{
      float: left;
      width: 100%;
  }
  .search-berita{
      margin-bottom: 20px;
      width: 100%;
      float: left;
  }
  .form-searh-berita input{
      float: left;
      width: 71%;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      font-size: 24px;
      outline: none;
      font-weight: bold;
      background: #E8E8E8;
      border: 1px solid #d9d9d9;
  }
  .form-searh-berita button{
      float: left;
      font-weight: bold;
      width: 22%;
      margin-left: 1%;
      border: none;
      background: #FBB040;
      color: #fff;
      padding: 13px 0px;
      font-size: 22px;
      border-radius: 4px;
      transition: 0.3s;
      cursor: pointer;
  }
  .form-searh-berita button:hover{
      background: #FBB040;
  }
  .news-header{
      width: 100%;
      background: #222222;
      float: left;
  }
  .news-header-poss{
      width: 1200px;
      margin: 0 auto; 
      padding: 10px 0;
      height: 32px;
  }
  .news-header-poss h5{
      float: left;
      padding: 7px;
      background: #FBB040;
      color: #222222;
      border-radius: 4px;
      width: 8%;
      text-align: center;
  }
  .news-header-poss p{
      float: left;
      padding: 7px 0 7px 10px;
      width: 87%;
      overflow: hidden;
      font-size: 15px;
      color: #afafaf;
      transition: 0.3s;
      cursor: pointer;
  }

  .news-header-poss a
  {
    color: #afafaf;
    text-decoration: none;
  }

  .news-header-poss p:hover{ 
      color: #fff;
  }

.h4-peraturan{
    font-size: 32px;
    color: #222222;
    letter-spacing: 0px;
    padding: 50px 0 30px 0;
    float: left;
    width: 100%;
}
.thumb-peraturan{
    float: left;
    width: 100%;
}
.thumb-home{
    float: left;
    width: 31%;
    margin-right: 2% ;
    /* margin-right: 1% ; */
    margin-bottom: 2% ;
    background: #F5F5F5;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    /* padding: 15px ; */

}
.thumb-home .banner-berita{ 
    padding: 15px;
    border-radius: 4px;
    /* width: 100%; */
}
.thumb-home h6{
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    color: #171717;
    padding: 15px;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
}
.thumb-berita-tanggal{
    float: left;
    width: 100%;
}
.thumb-berita-tanggal img{
    float: left;
    padding: 20px 0 0 15px;
}
.thumb-berita-tanggal p{
    float: left;
    padding: 12px 0 15px 0px;
    height: auto !important;
}
.thumb-home p{
    color: #303030;
    font-size: 16px; 
    line-height: 26px;
    padding: 15px;
    height: 110px;
    overflow: hidden;
    
}
.thumb-home a button{
    padding: 7px 15px;
    margin-left: 15px ;
    border: none;
    background: #5B5B5B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}
.thumb-home a button:hover{
    background: #303030;
}
.thumb-home p{
    color: #303030;
    font-size: 16px; 
    line-height: 26px;
    padding: 15px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 20px;
    
}
.thumb-home a button{
    padding: 7px 15px;
    margin-left: 15px ;
    border: none;
    background: #5B5B5B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}
.thumb-home a button:hover{
    background: #303030;
}


.thumb-berita{
    float: left;
    width: 31%;
    margin-right: 2% ;
    /* margin-right: 1% ; */
    margin-bottom: 2% ;
    background: #F5F5F5;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    /* padding: 15px ; */
    height: 580px;
    overflow: hidden;

}
.thumb-berita .banner-berita{ 
    padding: 15px;
    border-radius: 4px;
    width: 93%;
    height: 220px;
}
.thumb-berita h6{
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    color: #171717;
    padding: 15px;
    font-weight: bold;
    height: 50px;
    overflow: hidden;
}
.thumb-berita p{
    color: #303030;
    font-size: 16px; 
    line-height: 26px;
    padding: 15px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 20px;
    
}
.thumb-berita a button{
    padding: 7px 15px;
    margin-left: 15px ;
    border: none;
    background: #5B5B5B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}
.thumb-berita a button:hover{
    background: #303030;
}



.owl-theme .owl-nav [class*='owl-']{
    background: none !important;
}
.thumb-berita-tanggal{
    float: left;
    width: 100%;
}
.thumb-berita-tanggal img{
    float: left;
    padding: 20px 0 0 15px;
}
.thumb-berita-tanggal p{
    float: left;
    padding: 12px 0 15px 0px;
    height: auto !important;
}
.thumb-berita-tanggal span{
    float: left;
    padding: 18px 0 0px 5px;
    height: auto !important;
}
.thumb-footer{
    float: left;
    width: 100%;
    background: #E1E1E1; 
}
.thumb-footer-tanggal{
    float: left;
}
.thumb-footer-tanggal img{
    float: left;
    padding: 22px 0 0 15px;
}
.thumb-footer-tanggal p{
    float: left;
    padding: 17px 0 15px 10px;
    height: auto !important;
}
.thumb-footer-download{
    float: right;
}
.thumb-footer-download button{
    /* border: none;
    padding: 20px 15px 0 13px;
    background: none;
    cursor: pointer; */
     border-radius: 4px;
    border: none;
    padding: 10px;
    background: #FBB040;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
    margin-right: 8px;
}
.selengkapnya-yellow{  
    float: left;
    width: 100%;
}
.selengkapnya-yellow button{
    background: #FBB040;
    margin: 30px 0;
    padding: 15px 18px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;  
    width: 260px;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -130px;
    cursor: pointer;
    transition: 0.3s;
}

.selengkapnya-yellow button:hover{
    background: #ffa31a;
} 
.container-carousel{
    float: left;
    width: 100%;
    height: 40px;
}
.container-carousel-news{
    float: left;
    width: 90%;
    height: 40px;
}
.carousel-control.right{
    background: none !important;
}
.carousel-control.left{
    background: none !important;
}
.h4-sambutan{
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: #222222;
    letter-spacing: 0px;
    padding: 40px 0 50px 0;
    float: left;
}
.carouserl-item{
    float: left;
    padding-bottom: 30px;
}
.carouserl-item-left{
    float: left;
    width: 25%;
}
.carouserl-item-left img{
    width: 100px !important;
    margin: 0 auto;
}
.carouserl-item-left h6{
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
}
.carouserl-item-left p{
    font-size: 13px;
    color: #6F6F6F;
    text-align: center;
}
.carouserl-item-right{
    float: left;
    width: 75%;
}
.carouserl-item-right p{
    font-size: 14px;
    line-height: 24px;
    font-style: italic;
    color: #6F6F6F;
    padding: 0px 30px;
}
.sambutan-section{
    margin-top: 30px;
    float: left;
    background: #F5F5F5;
    border: 1px solid #E7E7E7;
    position: relative;
    left: 50%;
    margin-left: -600px;
    padding-bottom: 30px;
    height: 380px;
    margin-bottom: 50px;
}
.owl-prev img{ 
    width: 35px;
    padding-right: 10px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{

}
.owl-next img{ 
    width: 35px;
    padding-left: 10px;
}

.owl-prev:hover{
    background: none !important; 
}
.owl-next:hover{
    background: none !important; 
}
.footer-container{
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.footer-kiri{
    float: left;
    width: 40%;
}
.footer-container .logo-top{
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.footer-container p{
    float: left;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 13px;
    color: #fff;
    line-height: 24px;
    width: 100%;
}

.logo-footer{
    width: 40%;
    float: left;
}
.logo-footer img{
    padding: 10px;
    background: #fff;
    border-radius: 4px;
}
.footer-kanan{
    float: left;
    width: 20%;
}
.footer-kanan h5{
    font-size: 24px;
    text-align: right;
    color: #fff;
}
.footer-socmed li a{
    padding: 0;
    background: none;
}
.footer-socmed li a:hover{
    background: none;
}
.h4-breadcrumb-header{
    font-size: 44px;
    color: #fff;
    letter-spacing: 0px;
    padding: 40px 0 40px 0;
}
.peraturan-container{
    width: 100%;
    float: left;
}
.peraturan-container-le{
    float: left;
    width: 76%;
    margin-right: 2%;
}
.peraturan-container-ri{
    float: left;
    width: 18.5%;
    background: #F5F5F5;
    border: 1px solid #DADADA;
    border-radius: 4px;
    padding: 15px;
}
.thumb-home-peraturan{
    float: left;
    width: 100%;
    /* margin-right: 2% ; */
    margin-bottom: 3% ;
    background: #F5F5F5;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    /* padding: 15px ; */

}
.thumb-home-peraturan .banner-berita{ 
    padding: 15px;
    border-radius: 4px;
    /* width: 100%; */
}
.thumb-home-peraturan h6{
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    color: #171717;
    padding: 15px;
    font-weight: bold;
}
.thumb-home-peraturan h6 a{
    text-decoration: none;
    color: #171717;
}

.thumb-home-peraturan p{
    color: #303030;
    font-size: 16px; 
    line-height: 26px;
    padding: 15px;
    height: 110px;
    overflow: hidden;
    
}


.thumb-home-monografi{
    float: left;
    width: 100%;
    /* margin-right: 2% ; */
    margin-bottom: 3% ;
    background: #F5F5F5;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    /* padding: 15px ; */

}
.thumb-home-monografi .thumb-monografi {
    float: left;
    width: 20%;
    padding: 20px; 
    margin: 0;
}
.thumb-home-monografi h5{
    float: left;
    width: 70%;
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    color: #171717;
    padding: 40px 0 0 15px;
    font-weight: bold;
}
.thumb-home-monografi h6 a,
.thumb-home-monografi h5 a{
    text-decoration: none;
    color: #171717;
}

.thumb-home-monografi h6{
    float: left;
    width: 70%;
    color: #303030;
    font-size: 16px; 
    line-height: 26px;
    padding: 15px;
    height: 190px;
    overflow: hidden;
    font-weight: normal;
    
}


.thumb-footer-peraturan{
    float: left;
    width: 100%;
    background: #E1E1E1; 
}
.thumb-footer-peraturan-tanggal{
    float: left;
    width: 20%;
}
.thumb-footer-peraturan-tanggal img{
    float: left;
    padding: 22px 0 0 15px;
}
.thumb-footer-peraturan-tanggal p{
    float: left;
    padding: 17px 0 15px 10px;
    height: auto !important;
}
.thumb-footer-peraturan-download{
    float: left;
    width: 20%;
}
.thumb-footer-peraturan-download button{
    border: none;
    padding: 20px 15px 0 13px;
    background: none;
    cursor: pointer;
    float: left;
}
.thumb-footer-peraturan-download img{
    width: 17px;
    float: left;
    padding-top: 3px;
}
.thumb-footer-peraturan-download p{
    float: left;
    margin: -2px 0 0 0;
    padding: 0 0 0 10px;
    height: auto;
}
.thumb-footer-peraturan-download p a{
    text-decoration: none;
    color: #303030;
}
.thumb-footer-peraturan-download p a{
    text-decoration: none;
    color: #303030;
}

.thumb-footer-peraturan-view{
    float: right;
    width: 15%;
    opacity: 0.5;
}
.thumb-footer-peraturan-view img{
    float: left;
    padding: 22px 0 0 15px;
}
.thumb-footer-peraturan-view p{
    float: left;
    padding: 17px 0 15px 10px;
    height: auto !important;
    color: #171717;
}

.select-style {
    border: 1px solid #ccc;
    width: 90%;
    padding: 7px 10px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("./img/down-select.png") no-repeat 93% 50%;
    background-size: 12px;
}
.select-style select {
    cursor: pointer;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none; 
    background-size: 10px;
}
.select-style select:focus {
    outline: none;
}

.select-style-tahun {
    border: 1px solid #ccc;
    width: 90%;
    padding: 7px 10px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("./img/calendar.png") no-repeat 93% 50%;
    background-size: 18px;
}
.select-style-tahun select {
    cursor: pointer;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none; 
    background-size: 10px;
}
.select-style-tahun select:focus {
    outline: none;
}

.input-style {
    border: 1px solid #ccc;
    width: 90%;
    padding: 5px 10px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa; 
}
.input-style input { 
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none; 
    background-size: 10px;
}
.input-style input:focus {
    outline: none;
}

.label-select{
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
} 

.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
.btn-rincian{
    float: left;
    width: 100%;
    text-align: left; 
    border-radius: 4px;
    padding: 20px 20px; 
    font-weight: bold;
    font-size: 24px;
    border: none;
    cursor: pointer;
    background: #CCCCCC url("./img/info.png") no-repeat 98% 50%;
    background-size: 25px;
    transition: 0.3s;
}
.btn-rincian:hover{
    background: #c1c1c1 url("./img/info.png") no-repeat 98% 50%;
    background-size: 25px;
}
.body-accordion{
    width: 95.8%;
    float: left;
    border: 1px solid #E7E7E7;
    background: #F5F5F5;
    position: relative;
    top: -5px;
    border-radius: 0 0 4px 4px;
    padding: 2%;
    z-index: -1;
}
.pdf-container{
    width: 96%;
    float: left;
    padding: 2%;
    background: #F5F5F5;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    margin-top: 20px;
}
.coment h4{
    font-size: 24px;
    margin: 30px 0 20px;
    float: left;
}
.coment-style {
    border: 1px solid #ccc;
    width: 98%;
    padding: 1% 1%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa; 
    margin-bottom: 20px ;
}
.coment-style input { 
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none; 
    background-size: 10px;
}
.coment-style input:focus {
    outline: none;
}
.coment-style textarea { 
    padding: 5px 8px;
    width: 130%;
    height: 140px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none; 
    background-size: 10px;
}
.coment-style textarea:focus {
    outline: none;
}
.img-poss{
    margin-bottom: 10px;
}
.submit-yellow{
    background: #FBB040;
    margin: 20px 0;
    padding: 15px 18px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;  
    width: 180px;
    text-align: center; 
    cursor: pointer;
    transition: 0.3s;
}
.submit-yellow:hover{
    background: #ffbd5b;
}

.pagination {
    display: inline-block;
    float: left;
    width: 300px;
    position: relative;
    left: 50%;
    margin-left: -150px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s;
    margin: 0 3px;
    font-weight: bold;
}

.pagination a.active {
    background-color: #FBB040;
    color: #000;
    border-radius: 4px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 4px;
}
.detail-berita h5{
    font-weight: bold;
    font-size: 22px;
    margin: 20px 0;
}
.detail-berita p{
    font-size: 20px;
    line-height: 42px;
    color: #4F4F4F;
}



.poss-btn-product-hukum{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.poss-btn-product-hukum button{
    margin-right: 20px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    background: #FBB040;
    cursor: pointer;
    transition: 0.3s;
}
.poss-btn-product-hukum button:hover{
    background: #ffa31a;
}
.poss-btn-product-hukum button img{
}
.poss-btn-product-hukum button span{
    position: relative;
    top: -2px;
    margin-left: 5px;
    font-weight: bold;
}
.breadcrumb{
    float: left;
    margin-top: 30px;
    margin-bottom: -20px;
}
.footer-tengah{
    float: left;
    width: 40%;
}
.footer-tengah h3{
    color: #fff;
    margin-bottom: 15px;
    font-size: 24px;
}
.footer-tengah-poss{
    padding: 3% 0%;
    background: #fafafa;
    float: left;
    width: 100%;
    border-radius: 4px;
}
.footer-tengah-poss .content{
    float: left;
    margin-right: 0%;
    margin-left: 0%;
    width: 20%;
    text-align: center;
}
.footer-tengah-poss .content-kanan{
    float: left;
    margin-right: 0%;
    margin-left: 0%;
    width: 40%;
    text-align: center;
}
.content-kanan h4{
    margin: 0;
    color: #000;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 24px;
}
.content-kanan p{
    margin: 0;
    color: #000;
    width: 100%;
    text-align: center;
    float: left;
    color: #727272;
}
.content h4{
    margin: 0;
    color: #000;
    width: 100%;
    text-align: center;
    float: left;
    font-size: 24px;
}
.content p{
    margin: 0;
    color: #000;
    width: 100%;
    text-align: center;
    float: left;
    color: #727272;
}
.thumb-gallery{
    width: 100%;
    float: left;
    margin-top: 30px;
    border-radius: 4px;
}
.thumb-gallery a{
    width: 33%;
    float: left;
    margin-bottom: 30px;
}
.thumb-gallery a img{ 
    margin: 10px;
    height: 240px;
    float: left;
    border-radius: 4px;
}
.thumb-gallery iframe{
    width: 47%;
    margin: 1%;
}
.thumb-gallery h6{
    width: 93%;
    float: left;
    font-size: 18px;
    color: #000;
    padding: 0 3%;
    height: 44px;
    overflow: hidden;
}
 
.judul-monografi{
    float: left;
    width: 21%;
    background: #fbb040;
    border-radius: 8px;
    padding: 2%; 
    height: 270px;
    margin-top: 50px;
}
.judul-monografi h4{
    margin-top: 0px;
    padding-top: 0;
}
.judul-monografi p{
    line-height: 26px;
}
.thumb-monografi{
    float: left;
    width: 73%;
    margin-left: 2%;
    margin-top: 50px;
}
#owl-carousel-monografi .owl-nav{
    position: relative;
    left: -78%;
    top: -70px;
}
.carouserl-item-mono a img {
    border-radius: 8px;
    transition: transform .2s;
}
.carouserl-item-mono a img:hover {
    transform: scale(1.02);
}
#owl-carousel-artikel .owl-nav{
    position: relative;
    left: 13%;
}
.artikel-container{
    width: 100% !important;
    float: left;
    margin-right: 2%;
    margin-bottom: 40px;
}
.thumb-home-artikel{
    float: left;
    width: 100%;
    /* margin-right: 2% ; */
    /* margin-right: 1% ; */
    margin-bottom: 2% ;
    background: #F5F5F5;
    border: 1px solid #E7E7E7;
    border-radius: 4px; 
}
.thumb-home-artikel-cari{
    width: 17.5%; 
    float: left;
    padding: 0 1%;
    background: whitesmoke;
    border: 1px solid #E7E7E7;
}
.cari-artikel button{
    width: 100%;
    border: none;
    background: #FBB040;
    padding: 14px 0;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 23px;
}
.cari-artikel button:hover{
    background: #ffa31a;
}
.thumb-home-artikel .banner-berita{ 
    padding: 15px;
    border-radius: 4px;
    /* width: 100%; */
}
.thumb-home-artikel h6{
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    color: #171717;
    padding: 15px 15px 5px;
    font-weight: bold;
} 
.thumb-home-artikel p{
    color: #303030;
    font-size: 16px; 
    line-height: 26px;
    padding: 15px 15px 25px;
    height: 110px;
    overflow: hidden;
    
}
.thumb-home-artikel a button{
    padding: 7px 15px;
    margin-left: 15px ;
    border: none;
    background: #5B5B5B;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-top: 20px;
}
.thumb-home-artikel a button:hover{
    background: #303030;
}
.gambar-artikel{
    float: left;
    width: 40%;
}
.gambar-artikel embed{
    border-radius: 4px;
    border: 1px solid #ccc;
}
.table-artikel{
    float: left;
    width: 58%;
    margin-left: 2%;
    margin-bottom: 50px;
}

.gambar-monografi{
    float: left;
    width: 25%;
}
.gambar-monografi img{
    border-radius: 8px;
    border: 1px solid #ccc;
} 
.table-monografi{
    float: left;
    width: 73%;
    margin-left: 2%;
    margin-bottom: 50px;
}
.poss-btn-product-hukum button img{
    border: none;
    border-radius: 0;
}
.dis-none{
    display: none;
}
.list-coment{
    float: left;
    width: 100%;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.list-coment h3{
    font-size: 24px;
    margin: 30px 0 10px;
}
.list-coment-detail{
    margin-top: 20px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
}
.list-coment-detail h5{
    float: left;
    text-align: left;
    width: 50%;
    font-size: 20px;
    color: #222;
}
.list-coment-detail h6{
    float: left;
    text-align: right;
    width: 50%;
    font-size: 14px;
    color: #727272;
    font-weight: normal;
}
.list-coment-detail p{
    color: #727272;
    width: 100%;
    font-size: 16px;
    line-height: 30px; 
}


.tautan-section{
    clear: both;
}
.tautan{
    margin: 0 auto;
}
.tautan a{
    float: left;
    width: 16.6%;
    transition: 0.3s;
    opacity: 0.5;
    text-align: center;
    margin-bottom: 5%;
}
.tautan a:hover{
    opacity: 1;
}
.p-tautan{
    top: -40px;
    text-align: center;
    position: relative;
}


@media only screen and (max-width: 768px) {
    nav{
        display: none;
    }
    /* .nav-mobile{
        display: block;
    } */
    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
    }
    .hamburger {
        display: none;
    }
    
    .bar {
        display: block;
        width: 30px;
        height: 4px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #222;
    }
    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item {
        margin-left: 2rem;
    }
    li a, .dropbtn{
        padding:  0;
        margin: 0;
    }
    
    .nav-link{
        font-size: 0.8rem;
        font-weight: 400;
        color: #475569;
        background: none;
    }
    
    .nav-link-single{
        font-size: 0.8rem;
        font-weight: bold;
        color: #444;
        text-decoration: none;
    }
    
    .nav-link:hover{
        color: #1da369;
    }
    
    .nav-logo {
        font-size: 2.1rem;
        font-weight: 500;
        color: #1da369;
    }
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 5.2rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%; 
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
        border-bottom: 10px solid #1da369;
        box-shadow: 0px 10px 11px -2px rgba(0,0,0,0.43);
        -webkit-box-shadow: 0px 10px 11px -2px rgba(0,0,0,0.43);
        -moz-box-shadow: 0px 10px 11px -2px rgba(0,0,0,0.43);
    }

    .nav-item {
        margin: 0rem 0;
        width: 100%;
        text-align: left;
        padding: 14px 30px;
        font-weight: bold;
        border-bottom: 1px solid #d7d7d7;
        background: #ededed;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 5%;
        top: 3.4%;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .drop-responsive {
        background-color: #fff;
        border-bottom: 1px solid #e3e3e3;
        color: #444;
        cursor: pointer;
        padding: 14px 18px;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        text-align: left;
        outline: none;
        font-size: 13px;
        transition: 0.4s;
        font-weight: bold;
    }

    .drop-responsive-single {
        background-color: #fff;
        border-bottom: 1px solid #e3e3e3;
        color: #444;
        cursor: pointer;
        padding: 14px 18px;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        text-align: left;
        outline: none;
        font-size: 13px;
        transition: 0.4s;
        font-weight: bold;
    }
    
    .active, .drop-responsive:hover {
        /* background-color: #ccc; */
    }
    
    .drop-responsive:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }
    
    .active:after {
        /* content: "\2212"; */
    }
    
    .panel {
        padding: 0;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        width: 100%;
    }

    .header-poss{
        width: 94%;
        padding: 3%;
    }
    .search-header{
        width: 94%;
        padding: 3%;
    }
    .h4-search-header{
        font-size: 1.4rem;
    }
    .form-searh-header input{
        width: 57%;
        padding: 10px;
    }
    .form-searh-header button{
        width: 35%;
        padding: 13px 0;
        font-size: 1.2rem;
    }
    .form-searh-berita input{
        width: 57%;
        padding: 10px;
    }
    .form-searh-berita button{
        width: 35%;
        padding: 13px 0;
        font-size: 1.2rem;
    }
    .news-header-poss{
        width: 100%;
    }
    .news-header-poss h5{
        width: 25%;
        margin-left: 3%;
    }
    .news-header-poss p{
        line-height: 24px;
        width: 95%;
        padding-left: 3%;
    }
    section{
        width: 94%;
        padding: 3%;
    }
    .h4-peraturan{
        font-size: 1.8rem;
        padding: 40px 0 20px ;
        /* text-align: center; */
    }
    .thumb-home{
        width: 100%;
        margin: 0;
        margin-bottom: 5%;
    }
    .thumb-home img.banner-berita{
        width: 94%;
    }
    .thumb-berita{
        width: 100%;
        margin: 0;
        margin-bottom: 5%;
    }

    .footer-container{
        width: 100%;
    }
    .sambutan-section{
        position: relative;
        left: 0;
        width: 93%;
        margin-left: 0;
        margin-bottom: 80px;
    }
    .footer-kanan{
        display: none;
    }
    .logo-footer img{
        display: none;
    }
    .footer-kiri{
        text-align: center;
        width: 100%;
    }
    .selengkapnya-yellow button{
        width: 180px;
        /* margin-left: -90px; */
        font-size: 16px;
        padding: 10px 18px;
        margin: 10px 0 30px -90px;
    }
    .h4-breadcrumb-header{
        font-size: 1.8rem;
        padding: 20px 0 10px;
    }
    .peraturan-container-le{
        width: 100%;
    } 
    .peraturan-container-ri{
        width: 92%;
        margin-top: 20px;
    } 
    .thumb-footer-peraturan-tanggal{
        width: 33%;
    }
    .thumb-footer-peraturan-tanggal p{
        font-size: 11px;
    }
    .thumb-footer-peraturan-download{
        width: 37%;
    }
    .thumb-footer-peraturan-download p{
        font-size: 11px;
    }
    .thumb-footer-peraturan-view{
        float: left;
        width: 28%;
    }
    .thumb-footer-peraturan-view p{
        font-size: 11px;
    } 
    .thumb-footer-peraturan{
        margin-top: 25px;
    }
    .input-style{
        width: 93%;
    }
    .select-style{
        width: 93%;
    }
    .select-style-tahun{
        width: 93%;
    }
    .btn-rincian{  
        background-size: 22px !important;
        font-size: 1rem;
        background: #CCCCCC url("./img/info.png") no-repeat 93% 50%; 
    }
    .btn-rincian:hover{
        background: #c1c1c1 url("./img/info.png") no-repeat 93% 50%; 
    }
    table{
        line-height: 20px;
        font-size: 14px;
    }
    td {
        vertical-align: top;
    }
    tr{
        margin-bottom: 20px;
    }
    .detail-berita img{
        width: 100%;
    }
    .detail-berita h5{
        font-size: 1.2rem;
    }
    .detail-berita p{
        font-size: 1rem;
        line-height: 2rem;
    }
    .owl-nav{
        margin-bottom: 20px;
    }
    .news-header{
        height: 80px;
    }
    .footer-tengah{
        width: 90%;
        margin: 0 5% 5%;
    }
    .footer-tengah-poss .content{
        width: 33%;
    }
    .footer-tengah-poss .content-kanan{
        width: 100%;
        margin-top: 20px;
    }
    .thumb-gallery a{
        width: 100%;
    }
    .thumb-gallery a img{
        width: 98%;
        margin: 1%;
        height: 14rem
    }
    .thumb-gallery iframe{
        width: 100%;
    }
    .thumb-gallery h6{
        padding: 0 1%;
    }

    .dis-none{
        display: block;
    }
    .judul-monografi{
        display: none;
    }
    .thumb-monografi{
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }
    #owl-carousel-monografi .owl-nav{
        position: initial;
        margin-top: 20px;
    }
    .artikel-container{
        width: 100% !important;
        margin: 0;
    }
    .thumb-home-artikel-cari{
        display: none;
    }
    #owl-carousel-artikel .owl-nav{
        position: initial;
    }
    #owl-carousel-sambutan .owl-nav{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .gambar-monografi{
        width: 100%;
    }
    .table-monografi{
        width: 90%;
        margin: 0;
        margin-top: 30px;
    }
    .gambar-artikel{
        width: 100%;
    }
    .gambar-artikel embed{
        display: none;
    }
    .table-artikel{
        width: 90%;
        margin: 0;
        margin-top: 30px;
    }
    table{
        width: 110%;
        margin-top: 10px;
        float: left;
    }
    .banner-jdih img{
        display: none;
    }
    .logo-top{
        width: 50%;
        margin-top: 10px;
    }
    .logo-top img{
        width: 25%;
    }
    .logo-top p{
        padding-top: 5px;
    }
    .thumb-home-monografi .thumb-monografi{
        width: 90%;
    }
    .thumb-home-monografi h5{
        width: 90%;
    }
    .thumb-home-monografi h6{
        width: 90%;
    }
    
    .list-coment-detail p{ 
        line-height: 20px;
        position: relative;
        top: 5px; 
    }
    .tautan a{ 
        width: 33%; 
    }

    
}